body {
  background-color: white;
  margin: 0;
}

.upper-container {
  background: rgb(3,4,94);
  background: linear-gradient(243deg, rgba(3,4,94,1) 0%, rgba(0,150,199,1) 50%, rgba(2,45,123,1) 100%);
  text-align: center;
  margin: 0;
  padding-top: 6.25em;
  height: 300px;
  border-radius: 30px;
}

.pro {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

.pro:hover{color:rgb(3,4,94) ;}

.name {
  color: white;
  font-size: 687.5%; 
  font-family: 'Passion One', cursive;
  margin: 10px 0px -4px;
  font-weight: 50;
  position: relative;
  top: 50px;
}

.intro {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0px 1px 20px;
  font-size: 30px;
  position: relative;
  top: 60px;
}