nav{position: fixed;
    background-color: white;
    width: 100%;
    z-index:1;
    border-end-end-radius: 10px ;
    border-bottom-left-radius: 10px;
    
}
li{
    list-style: none;
    display: inline-block;
    padding: 0.125rem 1.25rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(3,4,94);
    font-size: 1.125rem;
    position: relative;
    left: 51.875rem;
    font-weight: 500;
}

li:hover{
    color: #0077B6;
}
